---
---

{% for ref in site.data.refs %}
  {% assign key = ref[0] %}
  {% assign value = ref[1] %}
  <div class='category'>
    <div class='name'>
      <h4><a href="{{ site.baseurl }}/refsrcs/{{ key | downcase | replace:' ','-' }}">{{ value.name }}</a></h4>
    </div>
    <div class='articles'>
      {% assign refsrcs = site.refsrcs | where: 'refbook', key %}
      {% for refsrc in refsrcs %}
        <div class='{{ klass }}'>
          <a href="{{ site.baseurl }}/refsrcs/{{ refsrc.title | downcase | replace:'_','-' | replace:'.','-' }}.html">{{ refsrc.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
