---
---

{% for refbook in site.data.refbooks %}
  {% assign key = refbook[0] %}
  {% assign value = refbook[1] %}
  <div class='category'>
    <div class='name'>
      <h4><a href="{{ site.baseurl }}/refbooks/{{ key | downcase | replace:' ','-' }}">{{ value.name }}</a></h4>
    </div>
    <div class='articles'>
      {% assign wikis = site.wikis | where: 'refbook', key %}
      {% for wiki in wikis %}
        <div class='{{ klass }}'>
          <a href="{{ site.baseurl }}/wikis/{{ wiki.title | downcase | replace:'_','-' | replace:'.','-' }}.html">{{ wiki.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
