<h1>
  <i class='fa fa-github'></i>
  <span>github.com/pimgeek/{{ page.title }}</span>
</h1>

<a class='see-github' href='https://github.com/pimgeek/{{ page.title }}' target='_blank'>
  <i class='fa fa-chevron-right'></i>
  <span>访问 github 页面</span>
</a>

<ul>
  {% assign wikis = site.wikis | where: 'refbook', page.title %}
  {% for wiki in wikis %}
    <li>
      <strong><a class='wiki' href="{{ site.baseurl }}{{ wiki.url | downcase }}">{{ wiki.term }}</a></strong>
      <!-- <strong><a class='wiki' href="{{ site.baseurl }}/wikis/{{ wiki.term | downcase | replace:'_','-' | replace:'.','-' }}.html">{{ wiki.term }}</a></strong> -->
      <p class='term'>{{ wiki.term }}</p>
    </li>
  {% endfor %}
</ul>
