<a class='see-github' href='https://github.com/pimgeek/{{ page.refbook }}' target='_blank'>
  <i class='fa fa-chevron-right'></i>
  <span>访问 github 页面</span>
</a>

<h4>主题</h4>

<div class='wiki-term'>{{ page.term }}</div>

<hr />

{{ content }}

<hr />

<h4>参考阅读</h4>
<div class='related-articles'>
  {% for related_article in page.related_articles %}
    {% assign related_url = related_article | prepend: '/articles/' | prepend: site.baseurl | append: '.html' %}
    <div class='related-article'>
      <a href="{{ related_url }}">{{ related_article }}</a>
    </div>
  {% endfor %}
</div>

<hr />

<h4>相关概念/术语</h4>
<div class='related-terms'>
  {% for related_term in page.related_terms %}
    <div class='related-term'>{{ related_term }}</div>
  {% endfor %}
</div>

