.example-section
  %h1.header-title 什么是 Lily?
  %p.lead
    我们的域名是 4ye.me, 而产品名称是“四叶草”。<br/>
    Lily 是百合花的意思，和四叶草一样都是植物，用来做开发框架的名称应该还算合适。<br/>
    Lily 从 Bootstrap 吸取了很多思路，增加了一些东西，也删减了一些东西。<br/>
    可以把它看作是 MINDPIN 团队对 Bootstrap 进行了改良的工作成果。

  %h3 为什么不直接用 Bootstrap?
  %p 因为以下的几点原因：
  %ul
    %li Bootstrap 的 CSS 代码有些冗余。我觉得其中包含了许多不必要的内容；
    %li Bootstrap 中的许多组件的外观设计和我所倾向的扁平化设计风格存在差异；
    %li 
      %span Bootstrap 强制所有元素的盒模型为
      %code box-sizing: border-box
      %span 。<br/>
      对于一些需要精确控制像素的前端场景，我倾向于按需使用这个属性，或者采用
      %code calc()
      %span 机制，而不是全局强制。
    %li 为了达到更好的视觉效果，我们需要定义更多的 SASS 常量；
    %li 许多设计排版的样式数值之间的关系需要细致的关联与调整；
    %li 我们需要自己实现更适合我们使用的 JavaScript 效果库；
    %li 我们需要对于中文网页的一些特性做出适应与改良；