.example-section
  %h1.header-title 文字排印
  %p.lead
    《CSS 禅意花园》(CSS Zen Garden: The Beauty of CSS Design) 的中文版上，把 typography 翻译为“文字排印”。我还是比较喜欢这个翻译的。

  %h3 HTML 标题
  %p
    %span HTML 标题标签包含
    %code
      :escaped
        <h1>
    %span 到
    %code
      :escaped
        <h6>
    %span . 同时，也可以以
    %code .h1
    %span 到
    %code .h6
    %span 的样式名来把普通的 div, span 元素变为标题样式。

  .example.example-typography
    .table-responsive
      %table.table
        %tbody
          %tr
            %td
              %h1 
                %span h1. 这是一级标题
                %small 这是小标题
            %td
              %span.info font-size ~ 36px
          %tr
            %td
              %h2 
                %span h2. 这是二级标题
                %small 这是小标题
            %td
              %span.info font-size ~ 30px
          %tr
            %td
              %h3 
                %span h3. 这是三级标题
                %small 这是小标题
            %td
              %span.info font-size ~ 24px
          %tr
            %td
              %h4 
                %span h4. 这是四级标题
                %small 这是小标题
            %td
              %span.info font-size ~ 18px
          %tr
            %td
              %h5 
                %span h5. 这是五级标题
                %small 这是小标题
            %td
              %span.info font-size ~ 16px
          %tr
            %td
              %h6 
                %span h6. 这是六级标题
                %small 这是小标题
            %td
              %span.info font-size ~ 14px
  .code-highlight
    :coderay
      #!html
      <h1><span>h1. 这是一级标题</span><small>这是小标题</small></h1>
      <h2><span>h2. 这是二级标题</span><small>这是小标题</small></h2>
      <h3><span>h3. 这是三级标题</span><small>这是小标题</small></h3>
      <h4><span>h4. 这是四级标题</span><small>这是小标题</small></h4>
      <h5><span>h5. 这是五级标题</span><small>这是小标题</small></h5>
      <h6><span>h6. 这是六级标题</span><small>这是小标题</small></h6>