// _consts.scss 
// =================
// 放置了一些基础常量
// 这些基础常量被其他的样式设定所引用


// 颜色
// -----------------
// 网页元素背景，文字等会用到的颜色，包含多级灰度
// 所有常量都添加了 !default 声明，这样在其他工程引用时，可以覆盖常量的默认值

$body-background-color: #fff !default;

$black-10: darken(#fff, 10%) !default; // #e6e6e6
$black-20: darken(#fff, 20%) !default; // #cccccc
$black-30: darken(#fff, 30%) !default; // #b3b3b3
$black-40: darken(#fff, 40%) !default; // #999999
$black-50: darken(#fff, 50%) !default; // #808080
$black-60: darken(#fff, 60%) !default; // #666666
$black-70: darken(#fff, 70%) !default; // #4d4d4d
$black-80: darken(#fff, 80%) !default; // #333333
$black-90: darken(#fff, 90%) !default; // #191919

$area-primary: #2A70E8 !default;
$area-success: #4CC85E !default;
$area-info:    #44B2F5 !default;
$area-warning: #FFCC3F !default;
$area-danger:  #E54028 !default;

$area-hot:     #FF4400 !default;
$area-night:   #2E333F !default;
$area-dawn:    #FFFBE3 !default;
$area-fresh:   #7DB500 !default;
$area-forest:  #009800 !default;
$area-dream:   #87318C !default;
$area-caution: #F18D05 !default; 

$border-color-default: #ddd !default;

$on-dev-color: #BB0000;

$black-colors: 
  $black-10,
  $black-20,
  $black-30,
  $black-40,
  $black-50,
  $black-60,
  $black-70,
  $black-80,
  $black-90
!default;

$area-color-names:
  primary,
  success,
  info,
  warning,
  danger,
  hot,
  night,
  dawn,
  fresh,
  forest,
  dream,
  caution
!default;

$area-colors:
  $area-primary,
  $area-success,
  $area-info,
  $area-warning,
  $area-danger,
  $area-hot,
  $area-night,
  $area-dawn,
  $area-fresh,
  $area-forest,
  $area-dream,
  $area-caution
!default;

// 文字
// -----------------
// 正文和标题文字的字体，字号，行高，颜色，等等

$text-color-default:  $black-80 !default;
$link-color: #4183c4 !default;
// $link-color: #0072D6 !default;
$link-hover-color: darken($link-color, 15%) !default;

$font-family-cn: "微软雅黑" !default;

$font-family-sans-serif: 
  "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", $font-family-cn !default;
$font-family-serif:
  "Georgia", "Times New Roman", "Times", "serif", $font-family-cn !default;
// 等宽字体用在 <code> <pre> 等标签中用于显示代码
$font-family-monospace:
  "Menlo", "Monaco", "Consolas", "Courier New", "monospace", $font-family-cn !default;
$font-family-default: $font-family-sans-serif !default;

$font-size-default:   14px !default;
$font-size-large:     round($font-size-default * 1.29) !default; // 14 * 1.29 = 18.06 ~ 18px
$font-size-small:     round($font-size-default * 0.86) !default; // 14 * 0.86 = 12.04 ~ 12px

$font-size-h1:        round($font-size-default * 2.57) !default; // 14 * 2.57 = 35.98 ~ 36px
$font-size-h2:        round($font-size-default * 2.14) !default; // 14 * 2.14 = 29.96 ~ 30px
$font-size-h3:        round($font-size-default * 1.71) !default; // 14 * 1.71 = 23.94 ~ 24px
$font-size-h4:        round($font-size-default * 1.29) !default; // 14 * 1.29 = 18.06 ~ 18px
$font-size-h5:        round($font-size-default * 1.14) !default; // 14 * 1.14 = 15.96 ~ 16px
$font-size-h6:        $font-size-default !default;               // ~14px

// $line-height-default: 1.428571429 !default; // 20px / 14
// bug fix sass decimal digits
// sass 只保留 5 位小数位数
$line-height-default: 1.42858 !default;
// 有一些地方和行高有倍乘关系，但是单位是像素值，于是就拿这个来计算
$line-height-in-px:   round($font-size-default * $line-height-default) !default;

// 标题
$headings-font-family: $font-family-default !default;
$headings-font-weight: 500 !default; // 500 在一般浏览器里相当于 normal，在高像素设备上会有更精细显示
$headings-line-height: 1.1 !default;
$headings-color:       $text-color-default !default;

$headings-small-color: $black-40 !default;

$page-title-border-color: $black-10 !default;


// 圆角和其他修饰
// --------------
$border-radius-default: 4px !default;


// 表格
// ----------------
// 表格用到的一些常量

// 单元格 <td> <th> 的内间距
$table-cell-padding: round($font-size-default * 0.57) !default; // 14 * 0.57 = 7.98 ~ 8px
// 紧凑型表格的单元格内间距，用于 .table.table-compact;
$table-compact-cell-padding: round($font-size-default * 0.36) !default; // 14 * 0.36 = 5.04 ~ 5px

$table-background-color: transparent !default;
// .table.table-striped 带有的斑马效果单元格背景色
$table-background-color-zebra: #f9f9f9 !default;  
// .table.table-hover 带有的鼠标响应背景色
$table-background-color-hover: #f5f5f5 !default;  
$table-background-color-active: $table-background-color-hover !default;  

$table-border-color: $border-color-default !default;


// 代码
// ----------------------
// 代码显示样式定义用到的常量

// 夹杂在文字中间的 code
// $code-color:                #c7254e !default;
// $code-background-color:     #f9f2f4 !default;
$code-color:                #3f7faf !default;
$code-background-color:     #f2f7f9 !default;

// kbd 参考 http://www.w3school.com.cn/tags/tag_kbd.asp
$kbd-color:                 #fff !default;
$kbd-background-color:      $black-80 !default;

// 代码段
$pre-color:                 #f5f5f5 !default;
$pre-background-color:      $black-80 !default;
$pre-border-color:          $black-20 !default;
$pre-scrollable-max-height: 340px !default;

// 文字排印
// ---------
$text-quiet: $black-40 !default;


// 媒体查询 (media queries) 分隔点
// ----------------
// 以这些尺寸来区分不同的屏幕宽度

// 最小的屏幕，智能手机
// $screen-phone-min:  480px !default; // 3.5 寸 android 手机屏款
// 貌似没什么用

// 大一些的屏幕，平板电脑
$screen-pad-min:    768px !default; // IPAD2 屏宽

// 一般的屏幕，笔记本电脑，小显示器的台式机
$screen-desk-min:   992px !default;

// 宽屏显示器，台式机，电视
$screen-wide-min:   1200px !default;

$screen-phone-max:  $screen-pad-min - 1px !default;
$screen-pad-max:    $screen-desk-min - 1px !default;
$screen-desk-max:   $screen-wide-min - 1px !default;


// 网格结构
// ------------
// 网格结构样式定义用到的常量
$grid-columns: 12 !default;
$grid-gap: round($font-size-default * 2.143) !default; // 14 * 2.143 = 30.002 ~ 30px


// 多级自适应宽度
// 最小的屏幕：智能手机，宽度只有全屏宽，没有定宽，所以没有定义相应常量

$container-pad:   720px + $grid-gap !default;
$container-desk:  940px + $grid-gap !default;
$container-wide:  1140px + $grid-gap !default;


// 中文

// 为了便于阅读，中文的每行字数应在 35 ~ 45 之间，
// 这个常量定义了满足此条件的容器宽度
$readable-line-chars: 42;
$readable-line-width: $font-size-default * $readable-line-chars !default;