// example.css 包含示例页面所需的样式
// 这些央视通常不会用于其他项目

body.lily-example-doc {
  .doc-head {
    background-color: $area-success;
    padding:50px 15px;
    margin-bottom: 40px;

    .lily-logo {
      height:150px;width:150px;
      @include retina-bg-img("../imgs/lily.png", "../imgs/lily@2x.png", 150px, 150px);
    }

    h1 {
      font-family: $font-family-monospace;
      font-size: 60px;
      line-height: 1;
      color:#fff;
      margin-top:15px;
      margin-bottom:20px;
    }

    p {
      font-size: 24px;
      color: rgba(white, 0.8);
      margin-left:40px;
    }

    @include -below(phone) {
      padding:30px 15px;

      .lily-logo {
        margin:0 auto;
      }

      h1 {font-size:40px;}
      p {margin-left: 0;}
    }
  }

  
  .example-section {
    margin-bottom: 60px;
    > h1 {
      margin-top: 0px;
      padding-top: 20px;
    }
  }

  .example-section.consts {
    .color-consts {
      @include clearfix;
      .color-const {
        @include col(1/8 * 9/10, $offset: -1/8 * 1/10);
        height:60px;
        margin-bottom:10px;

        @include -below(phone) {
          @include col(1/4 * 7/8, $offset: -1/4 * 1/8);
          height:40px;
        }

        border-radius:$border-radius-default;

        @for $i from 1 through 9 {
          &.black-#{$i * 10} {
            background-color: nth($black-colors, $i);
          }
        }

        @for $i from 1 through 12 {
          &.area-#{nth($area-color-names, $i)} {
            background-color: nth($area-colors, $i);
          }
        }
      }
    }
  }

  .example {
    position:relative;
    padding:45px 15px 15px;
    border: solid 1px $border-color-default;
    margin:0 0 15px;
    background-color: #FFF;

    @include -below(phone) {
      margin:0 -15px 15px;
      background-color:#fafafa;
      border-width: 1px 0;
    }

    &:before {
      content: "示例样式";
      color: $black-30;
      position: absolute;
      top:15px;left:15px;
      font-weight:700;
      letter-spacing: 1px;
      font-size:14px;
      height:15px;line-height:15px;
    }
  }

  .example-typography {
    table {
      margin-bottom: 0;
    }

    table td {
      padding:15px 0;
      vertical-align: middle;
      border-color: $black-10;
      h1, h2, h3, h4, h5, h6 {margin: 0;}
      span.info {color:$black-40;}
    }

    table tr:first-child td {
      border-top: 0 none;
    }

    @include -below(phone) {
      table {
        background-color: #FFF;
        td {padding:15px 8px;}
      }
    }
  }

  .code-highlight {
    padding:10px 15px;
    border:solid 1px $border-color-default;
    background-color:#f8f8f9;
    margin-bottom:20px;

    margin-left: 0;
    margin-right: 0;
    border-width: 1px;

    @include -below(phone) {
      margin-left: -15px;
      margin-right: -15px;
      border-width: 1px 0;
    }

    pre {
      background-color: transparent;
      color: $text-color-default;
      padding:0;margin:0;
      border:0 none;
    }
  }

  .example + .code-highlight {
    margin-top:-16px;
  }

}