$futura-font-path: "fonts/futura" !default;

@font-face {
  font-family: "Futura-Condensed";
  src: url('#{$futura-font-path}/Futura-Condensed.eot');
  src: local('☺'), 
    url('#{$futura-font-path}/Futura-Condensed.woff') format("woff"), 
    url('#{$futura-font-path}/Futura-Condensed.ttf') format("truetype"), 
    url('#{$futura-font-path}/Futura-Condensed.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

$font-futura: "Futura-Condensed";