// _helper.scss 
// =================
// 用来提供辅助样式
// 所谓辅助样式，指比较泛用的，不归属于某个特定具体组件的样式名
// 通常用于快速修饰某些标签

.clearfix {
  clear:both;
  font-size:0;height:0;line-height:0;
}

// 为了保持文字可读，限制容器最大宽度
.readable-line {
  max-width: $readable-line-width;
}

// 标记为正在开发
.-on-dev {
  @include dev;
}