.flash-message {
  height: 50px;line-height: 50px;
  padding: 0 15px;
  background-color: lighten($area-info, 30%);
  color: rgba(black, 0.7);
  margin: 0 0 $grid-gap / 2 0;
  border-radius: $border-radius-default;
  overflow:hidden;
  position:relative;

  a.close {
    display: block;
    float: right;
    cursor: pointer;
    height:30px;line-height:30px;
    background-color:rgba(white, 0.6);
    color: rgba(black, 0.5);
    border-radius: $border-radius-default - 1px;
    margin-top:10px;
    margin-right:-5px;
    padding:0 10px;
    @include transition(all ease .2s);
    &:hover {
      text-decoration: none;
      background-color:rgba(white, 0.9);
    }
  }
}

.flash-message.success {
  padding-left: 50px;
  &:before {
    content:"\f00c";
    position:absolute;
    top:0;left:0;bottom:0;width:50px;
    font-family: FontAwesome;
    text-align:center;
    font-size:20px;
    color:rgba(black, 0.4);
  }
}

.flash-message.danger {
  background-color: lighten($area-danger, 35%);
  padding-left: 50px;
  &:before {
    content:"\f071";
    position:absolute;
    top:0;left:0;bottom:0;width:50px;
    font-family: FontAwesome;
    text-align:center;
    font-size:20px;
    color:rgba(black, 0.4);
  }
}