// _page.scss 
// =================
// 基准的 html, body 样式，以及其他的 normalize.css 中不包含的标准化修正

html {
  font-size: 62.5%; // 标准化 em, 参考 http://blog.csdn.net/zxleezx/article/details/8111610
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 移动设备触摸高亮
}

body {
  background-color: $body-background-color;
  font-family:      $font-family-default;
  font-size:        $font-size-default;
  line-height:      $line-height-default;
  color:            $text-color-default;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:focus {
    @include tab-focus;
  }
}