// 扁平化页面区块系统

/*
html example:

# 无材质
.piece.piece-shelf
  .piece.piece-box
    %h2
    ....

  .piece.piece-box
    %h3
    .piece.piece-ops
      .op
        %a{:href => '...'} ...
      .op
        %a{:href => '...'} ...

  .piece.piece-box
    .piece.piece-blank 没有数据

  .piece.piece-box


# 白底纸材质
.piece.piece-shelf.piece-paper
  .piece.piece-box
    %h2
    ....

  .piece.piece-box
    %h3
    .piece.piece-ops
      .op
        %a{:href => '...'} ...
      .op
        %a{:href => '...'} ...

  .piece.piece-box
    .piece.piece-blank 没有数据

  .piece.piece-box
*/

$piece-padding: 20px !default;
$piece-title-margin-bottom: $piece-padding * 1.5 !default;

@mixin piece {
  background-color: #FFF;
  border-radius: $border-radius-default;
  @include piece-shadow;
}

@mixin piece-style {
  h2 {margin-top: 0;margin-bottom: $piece-title-margin-bottom;}
  h3 {margin-top: 0;margin-bottom: $piece-title-margin-bottom;}
  h4 {margin-top: 0;margin-bottom: $piece-title-margin-bottom;line-height: 22px;}
}

@mixin piece-shelf {
  // nothing
}

@mixin piece-paper {
  @include piece;
  min-height: 300px;
}

@mixin piece-shadow {
  box-shadow: 0 1px 2px rgba(black, 0.07);
}

@mixin piece-box {
  @include piece-style;
  padding: $piece-padding;
  border-bottom: solid 1px #e7e7e7;
  position: relative;

  &:last-child {
    border-bottom: 0 none;
  }
}

.piece.piece-shelf {
  @include piece-shelf;

  &.piece-paper {
    @include piece-paper;
  }

  .piece.piece-box {
    @include piece-box;

    .piece.piece-ops {
      position: absolute;
      top: $piece-padding;
      right: 0;
      .op {
        width: 120px;
        margin-bottom: 5px;
        a {
          display:block;
          height:20px;line-height:20px;
          text-decoration:none;
          border-bottom: dashed 1px $black-30;
          &:hover {
            background-color: $area-dawn;
          }
          i.fa {
            width:15px;
          }
        }

        &.danger {
          a:hover {color:$area-danger;}
        }
      }
    }
  }

  .piece.piece-blank {
    margin: 0 -10px -10px -10px;
    background-color: #f7f7f7;
    font-size:16px;
    line-height:150px;height:150px;
    text-align:center;
    border-radius:$border-radius-default;
    color:$black-50;
  }
}