// _typography.scss 
// =================
// 与文字相关的基础样式

// 标题

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small, .small {
    font-weight: normal;
    line-height: 1;
    color: $headings-small-color;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-in-px;
  margin-bottom: $line-height-in-px / 2;

  small, .small {
    font-size: 65%;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: $line-height-in-px;
  margin-bottom: $line-height-in-px / 2;

  small, .small {
    font-size: 75%;
  }
}

h1, .h1 {font-size: $font-size-h1;}
h2, .h2 {font-size: $font-size-h2;}
h3, .h3 {font-size: $font-size-h3;}
h4, .h4 {font-size: $font-size-h4;}
h5, .h5 {font-size: $font-size-h5;}
h6, .h6 {font-size: $font-size-h6;}


// 正文

p {
  margin:0 0 $line-height-in-px / 2;
}

// 网页引文，一般放在大标题下面
.lead {
  margin-bottom: $line-height-in-px;
  font-size: round($font-size-default * 1.14);
  font-weight: 200;
  line-height: 1.4;

  @media (min-width: $screen-pad-min) {
    font-size: $font-size-default * 1.5;
  }
}

// 14 * .85 = 11.9 ~ 12
small, .small {
  font-size: 85%;
}

cite { font-style: normal; }

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}

.text-quiet {color: $text-quiet;}

// 网页头标
.header-title {
  padding-bottom: $line-height-in-px / 2 - 1px;
  margin: $line-height-in-px * 2 0 $line-height-in-px;
  border-bottom: solid 1px $page-title-border-color;
}

// 列表
ul, ol {
  margin-top: 0;
  margin-bottom: $line-height-in-px / 2;
  ul, ol {
    margin-bottom: 0;
  }
}